BERT:
  CLUSTER:
    NP: 256
    HOST: hosts_256
  
  TRAIN:
    DTYPE: float16
    LOG_INTERVAL: 100
    OPTIMIZER: lamb
    MODEL: bert_24_1024_16
    CKPT_DIR: ./ckpt-256-dir
    CKPT_INTERVAL: 50000
    EVAL_INTERVAL: 500000
  
  HVD:
    CYCLE_TIME: 85
    HIERARCHICAL: 0

  NCCL:
    MIN_NUM_RINGS: 1
  
  RUN:
    PHASE1: 0
    PHASE2: 1
  
  PHASE2:
    DATA: /data/datasets/book-wiki-split-2k-v3/*.train,
    DATA_EVAL: /data/datasets/book-wiki-split-2k-v3/*.dev,
    OPTIONS: --raw --skip_state_loading --start_step 14076 --verbose --phase2 --phase1_num_steps 14076
    NUM_STEPS: 1564
    BS: 32768
    ACC: 16
    MAX_SEQ_LENGTH: 512
    MAX_PREDICTIONS_PER_SEQ: 80
    LR: 0.004
    WARMUP_RATIO: 0.2

  ENV:
    SHARE_SEED: 0

CONTAINER:
  NAME: bert
  SHARED_FS: /fsx
  REGISTRY: haibinlin/bert-docker:nlp
