BERT:
  CLUSTER:
    NP: 16
    HOST: hosts
  
  TRAIN:
    DTYPE: float32
    LOG_INTERVAL: 2
    OPTIMIZER: lamb
    MODEL: bert_24_1024_16
    CKPT_DIR: ./ckpt-256-dir
    CKPT_INTERVAL: 500000
    EVAL_INTERVAL: 500000
  
  HVD:
    CYCLE_TIME: 85
    HIERARCHICAL: 0

  NCCL:
    MIN_NUM_RINGS: 1
  
  RUN:
    PHASE1: 1
    PHASE2: 0
  
  PHASE2:
    DATA: /data/book-wiki-split-2k-v3/*.train,
    DATA_EVAL: /data/book-wiki-split-2k-v3/*.dev,
    OPTIONS: --raw --skip_state_loading --start_step 0 --verbose
    NUM_STEPS: 15625
    BS: 32768
    ACC: 128
    MAX_SEQ_LENGTH: 128
    MAX_PREDICTIONS_PER_SEQ: 20
    LR: 0.005
    WARMUP_RATIO: 0.2

  ENV:
    SHARE_SEED: 0

CONTAINER:
  NAME: bert
  SHARED_FS: /fsx/haibin
  REGISTRY: haibinlin/bert-docker:nlp
